<div
  class="container-fluid h-100 d-flex align-items-center justify-content-center"
>
  <div class="card w-25">
    <h3 class="card-header text-center">Login form</h3>
    <div class="card-body">
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            [(ngModel)]="username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>
        <div>
          <button class="btn btn-primary w-100 d-block">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
